{% extends 'base.html' %}
{% load static %}
{% block polls_list %}
    <div class="content">

    <div>
      <h2 class="mb-5 text-left" style="margin-left:60px;">Опросики</h2>
      <div class="table-responsive polls d-none">

        <table class="table custom-table">
          <thead>
            <tr>
              <th scope="col">Заголовок</th>
              <th scope="col">Дата создания</th>
              <th scope="col">Награда</th>
              <th scope="col"></th> {# Ссылка подробнее#}
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>

  </div>

    <template id="reminderTemplate">
          <tr>
            <td>
              <div class="title">–</div>
            </td>
            <td>
              <div class="date">–</div>
            </td>
            <td>
              <div class="gain">–</div>
            </td>
            <td>
              <a href="" class="btn btn-default show-more">Подробнее</a>
            </td>
          </tr>
</template>

    <script src="{% static 'js/backend/backend.js' %}"></script>
    <script src={% static 'js/polls_list.js' %}></script>
    <script src="{% static 'js/polls_templates.js' %}"></script>

{% endblock %}
